@*  Descripción: Vista, muestra la pantalla para la edicion de datos de las redes.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model Model.RedMant


@using (Html.BeginForm("EditarRedMant", "Red", new { ViewBag.page, ViewBag.search }, FormMethod.Post, new { @id = "formEditarRedMant" }))
{
    <div class="form-horizontal">

        <hr />
        <div class="form-group">
            @Html.Label("DISA/DIRESA/GERESA", new { @class = "control-label col-md-4", @style = "padding-top:0px !important;" })
            <div class="col-md-7">
                @ViewBag.textoEnfermedadPreSeleccionada


            </div>
        </div>

        <div class="form-group">
            @Html.Label("CODIGO", new { @class = "control-label col-md-4", @style = "padding-top:0px !important;" })
            <div class="col-md-7">
                @ViewBag.textoIdRed
            </div>
        </div>

        <div class="form-group">
            @Html.Label("NOMBRE", new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.nombrered, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                @Html.ValidationMessageFor(model => model.nombrered, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Activo: ", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @if (Model.Estado == 1)
                {
                    @Html.CheckBox("chkActivoRol", true)
                }
                else
                {
                    @Html.CheckBox("chkActivoRol", false)
                }
            </div>

        </div>
        <input type="hidden" id="someDataFromPartialSomehownombrered" value="@Model.nombrered" />

        <div class="form-group">
            <div class="col-md-offset-4 col-md-7">
                @*<input type="submit" value="Guardar" id="btnGuardar" class="btn btn-primary"*@
                @*onclick="return ValidaCampoRequerido();"*@

                @*<input type="button" value="Regresar" id="btnCerrar" class="btn-link hidden" />*@


                <button type="submit" value="Guardar" class="btn btn-primary" id="btnGuardar" onclick="return ValidaCampoRequerido();"><span class="fa fa-floppy-o"></span> Guardar</button>

                <button type="button" value="Regresar" id="btnCerrar" class="btn btn-default hidden"><span class="fa fa-angle-double-left"></span> Regresar</button>





            </div>

        </div>



    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")
    @Scripts.Render("~/Scripts/App/NetLab.js")
    @Scripts.Render("~/Scripts/App/RedMant.js")

    <link rel='stylesheet' href='~/Content/dpLoading-2.x-min.css' />
    <link rel='stylesheet' href='~/Content/dpLoading-2.x-skin-grey-min.css' />
    <script src='~/Scripts/dpLoading-2.x-min.js'></script>
    <link rel="stylesheet" href="~/Content/chosen.css">
}


