@model Model.ResultadoKobos

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Resultados Covid</title>
    <link rel="stylesheet" type="text/css" href="~/Content/resultados.css" />
</head>
<body>

    <div id="reporte" style="text-align: center">
        <div id="header" class="block">
            <div class="block" style="border: 1px solid #000000;border-radius: 10px 10px 10px 10px;margin-bottom:20px;width:100%;">
                <div class="column-left ">
                    <img src="~/img/siscovid-logo.jpeg" alt="" width="140" height="90" />
                </div>
                <div class="column-center" style="margin-top: 40px !important;width:38%">

                    <div>
                        <span style="font-size:small;text-transform:uppercase">ESTABLECIMIENTO DEL EJECUTOR</span>
                    </div>

                    <div>
                        @if (!string.IsNullOrEmpty(@Model.establecimientoEjecutor))
                        {
                            <span style="font-size:medium">@Model.establecimientoEjecutor</span>
                        }
                        else
                        {
                            <span style="font-size:medium">SIN DATOS</span>
                        }
                    </div>

                </div>
                <div class="column-right" style="width:30%">
                    @*<img src="~/img/logoMinsa.png" alt="" width="75" height="75" />*@
                </div>
            </div>
            <div>
                <span style="font-size:small">INFORME DE RESULTADO N° @Model.nroInforme</span>
            </div>
            <br />
        </div>
        <div class="block">
            <div class="block" style="border: 1px solid #000000;border-radius: 10px 10px 10px 10px;margin-bottom:20px;">
                <div>
                    <div class="row">
                        <div class="column2">
                            <div class="row">
                                <span><b>IDENTIFICACIÓN DEL PACIENTE: </b></span><label>@Model.apellidoPaterno @Model.apellidoMaterno @Model.Nombres</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="column2-left">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(@Model.tipoDocumento))
                                {
                                    <span><b>TIPO DOCUMENTO: </b></span><label>@Model.tipoDocumento</label>
                                }
                                else
                                {
                                    <span><b>TIPO DOCUMENTO: </b></span><label>SIN DATOS</label>
                                }
                            </div>
                        </div>
                        <div class="column2-left">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(@Model.nroDocumento))
                                {
                                    <span><b>NRO DOCUMENTO: </b></span><label>@Model.nroDocumento</label>
                                }
                                else
                                {
                                    <span><b>NRO DOCUMENTO: </b></span><label>SIN DATOS</label>
                                }
                            </div>
                        </div>
                        <div class="column2-left">
                            <div class="row">
                                @if (@Model.edad >= 0)
                                {
                                    <span><b>EDAD: </b></span><label>@Model.edad</label>
                                }
                                else
                                {
                                    <span><b>EDAD: </b></span><label>Sin Datos</label>
                                }
                            </div>
                        </div>
                        <div class="column2-right">
                            <div class="row">
                                @*<span><b>SEXO: </b></span><span>@Model.Orden.Sexo</span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="column2-left">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(@Model.direccion))
                                {
                                    <span><b>DIRECCIÓN/UBICACIÓN: </b></span><label>@Model.direccion</label>
                                }
                                else
                                {
                                    <span><b>DIRECCIÓN/UBICACIÓN: </b></span><label>SIN DATOS</label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            @*<div class="block" style="border: 1px solid #000000; border-radius: 10px 10px 10px 10px;">
                <div>

                    <div class="row">
                        <div class="column2">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(@Model.establecimientoEjecutor))
                                {
                                    <span><b>LUGAR TOMA DE MUESTRA: </b></span><label>@Model.establecimientoEjecutor</label>
                                }
                                else
                                {
                                    <span><b>LUGAR TOMA DE MUESTRA: </b></span><label>SIN DATOS</label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <br />
        <br />
        <br />
        <div class="block">
            <table style="width: 900px">
                <tr style="background-color: lightgray">
                    <th style="border-right-style: hidden">
                        TIPO DE MUESTRA PRIMARIA:
                        <label>
                            SANGRE
                        </label>
                    </th>
                    @if (!string.IsNullOrEmpty(@Model.fechaObtencion))
                    {
                        <th style="border-right-style: hidden">
                            FECHA DE OBTENCIÓN:
                            <label>
                                @Model.fechaObtencion
                            </label>
                        </th>
                    }
                    else
                    {
                        <th style="border-right-style: hidden">
                            FECHA DE OBTENCIÓN:
                            <label>
                               SIN DATOS
                            </label>
                        </th>
                    }

                </tr>
            </table>
            <table style="width: 900px">
                <tr style="background-color: lightgray">
                    <th width="85px">FECHA DE RESULTADO </th>
                    <th width="100px">ANÁLISIS</th>
                    <th width="100px">COMPONENTE</th>
                    <th width="100px">METODO</th>
                    <th width="300px">RESULTADOS</th>
                </tr>
                <tr>
                    <td>@Model.FechaResultado</td>
                    <td>PRUEBA RÁPIDA PARA LA DETECCIÓN CUALITATIVA DE ANTICUERPOS IgM e IgG DE COVID-19, MEDIANTE MÉTODO INMUNOCROMATOGRÁFICO</td>
                    <td>COVID-19 AC IGM & IGG</td>
                    <td>INMUNOCROMATOGRÁFICO</td>
                    <td>@Model.Resultado</td>
                </tr>
            </table>
        </div>



        <br /><br /><br />

        <div class="block" style="border: 1px solid #000000;height:40px;border-radius: 10px 10px 10px 10px;text-align:left;padding-left:10px;">
            <p style="font-weight:bold;">@ViewBag.MensajeObservacion</p>
            @*<div style="text-align:left; padding-left:10px;padding-right:10px;">@Model.Orden.Observaciones</div>*@
        </div><br /><br /><br />
        <div class="block" style="border: 1px solid #000000;height:80px;border-radius: 10px 10px 10px 10px;text-align:left;padding-left:10px;">
            <p>
                Este resultado de Prueba Rápida de COVID-19, proviene del aplicativo SISCOVID registrado en formato 100 (F-100), a cargo de OGTI-MINSA, de acuerdo a lo establecido en la "Directiva Administrativa que regula los procesos, registros y accesos a la información para garantizar el seguimiento integral de los casos sospechosos y confirmados de COVID-19".
            </p>
            <p>
                El INS no se hace responsable de los datos considerados en este reporte; por lo que se hace de su conocimiento que, ante cualquier solicitud de reclamo/modificación de datos personales, debe solicitarlo al correo: <a href="#">soporte_aplicativos@minsa.gob.pe</a>
            </p>
            @*<div style="text-align:left; padding-left:10px;padding-right:10px;">@Model.Orden.Observaciones</div>*@
        </div>
        <br /><br /><br />
        <div>

        </div>
        <div style="height: 70px"></div>
        <div class="block">
            <div class="column2-left" style="margin-top: 25px !important;">
                <div class="row">
                    @if (!string.IsNullOrEmpty(@Model.ejecutorPrueba))
                    {
                        <span><b>Responsable de la Prueba: </b></span><label>@Model.ejecutorPrueba</label>
                    }
                    else
                    {
                        <span><b>Responsable de la Prueba: </b></span><label>SIN DATOS</label>
                    }
                </div>
            </div>

            <div class="column2-right" style="margin-top: 25px !important;">
                <div class="row">
                    <div style="display: inline-block">
                        @if (@ViewBag.ImageSello != null)
                        {
                            <img src="@ViewBag.ImageSello" alt="" width="100" height="100" />
                        }
                    </div>
                </div>
            </div>

        </div>
        <div style="height: 40px"></div>
    </div>
</body>
</html>

<style type="text/css">
    .LogoRegional {
        width: auto;
        height: auto;
        vertical-align: middle;
    }

    .column-left {
        height: 100px;
        line-height: 100px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .column-right {
        height: 100px;
        line-height: 100px;
        margin-top: 15px;
    }

    .LogoInstitucional {
        width: 30%;
        height: auto;
        vertical-align: middle;
    }

    #fechaReporte {
        position: fixed;
        top: 330mm;
        height: auto;
        width: auto;
        text-align: right;
    }

    #reporte {
        width: 100%;
        height: 325mm;
        /*border: 1px solid #000000;*/
        margin: auto auto auto auto;
    }

    #header {
        position: relative;
        top: 0px;
        left: 0px;
    }

    .page-breaker {
        display: block;
        clear: both;
        page-break-after: always;
    }

    div.imagebg {
        background-image: url('~/img/netlabv2logo.png');
        width: 150px; /*width of your image*/
        height: 90px; /*height of your image*/
        margin: 0; /* If you want no margin */
        padding: 0;
    }
</style>
