@*  Descripción: Vista, muestra la pantalla de
    busueda de datos para dar mantenimiento a los material
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@using PagedList.Mvc;
@using NetLab.Helpers;

@model PagedList.IPagedList<Model.Material>

@{
    ViewBag.Title = "Mantenimiento de Materiales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">
<link rel="stylesheet" href="~/Content/chosen.css">

<h2 class="text-primary">Materiales</h2>
@using (Html.BeginForm("Index", "Material", FormMethod.Get))
{
    <label>Ingrese tipo de muestra, presentación o reactivo: </label>
    @Html.TextBox("search", (string)ViewBag.search, new { style = "width:250px" })
    @*<input type="submit" value="Buscar" class="btn-link" />*@

    <button class="btn btn-primary" type="submit" id="btnBuscar" value="Buscar"> <span class="glyphicon glyphicon-search"></span> Buscar</button>




    @Html.ActionLink(" Nuevo", "NuevoMaterial", new { ViewBag.page, ViewBag.search }, new { id = "openDialog", @class = "btn btn-primary" })
}
<br />

@if (ViewBag.mensaje > 0)
{
    string faultMsg = "";
    switch ((int)ViewBag.mensaje)
    {

        case 1: faultMsg = "No se encontraron registros…"; break;
        case 2: faultMsg = ""; break;

    }
    <br />
    <span class="msj-error">@faultMsg</span>
}

<br />
@if (Model != null && Model.TotalItemCount > 0)
{    //Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el id my data y thead para reconocer cuales son las cabeceras para el datatable, se eliminaron divs con la clase responsive y se puso al table class

    <table class="table table-responsive" id="mydata">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().TipoMuestra.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().descripcion)
                </th>
                <th>Estado</th>
                <th>Editar</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMuestra.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @*Alexander Buchelli - inicio - fecha 7/12/18 -Se cambio el IF para poder editar el color de las celdas para que estas sean verdes cuando esta  "activo"- y rojas cuando este "inactivo"*@


                    @if (item.estado == 1)
                    {
                        @*@Html.Label("Activo")*@
                        <p style="color:#006f03;">Activo</p>

                    }
                    else
                    {
                        @*@Html.Label("Inactivo")*@
                        <p style="color:rgb(255,0,0);">Inactivo</p>

                    }

                </td>

                <td class="text-center" style="white-space: nowrap">
                    @Html.ActionLink(" ", "EditarMaterial", new { id = item.idMaterial, page = Model.PageNumber, ViewBag.search }, new { @class = "btn btn-default btn-block fa fa-pencil-square-o editDialog" })
                </td>


                @*<td class="text-center" style="white-space: nowrap">
                        @Html.ActionLink("Eliminar", "EliminarMaterial", new { id = item.idMaterial, page = Model.PageNumber, ViewBag.search }, new { @class = "confirmDialog" })
                    </td>*@

            </tr>
        }
    </table>
}
    @*else
        {
            @Html.EmptyTable()
        }*@
   @if (Model != null)
   {    //Alexander Buchelli - inicio - fecha 7/12/18 -Se comento el boton de selector de pagina

    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.search }))*@
   }
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        ¿ Está seguro de eliminar el registro seleccionado ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App/Material.js")
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")
    @Scripts.Render("~/Scripts/App/NetLab.js")
    @*Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el Js que invoca al id "mydata" para el uso del js de datatables*@
    @Scripts.Render("~/Scripts/App/tabladata.js")

    
        <script type="text/javascript">

            
            $("body").on("submit", "#frmNuevoMaterial", function (e) {

                var ok = false;


                var ok2=false;

                var ok3=false;

                var ok4=false;

                var ok5=false;


                
                var idtipomuestra = $.trim($('#idExamen').val());

                var idPresentacion = $.trim($('#idPresentacion').val());

                var idReactivo= $.trim($('#idReactivo').val());

                var volumen=$.trim($('#volumen').val());

                if (idtipomuestra === '') {
                    jAlert("Seleccione una Tipo de Muestra.", "¡Alerta!");

                }else {
                    ok=true;
                }


                if (idPresentacion === '') {
                    jAlert("Seleccione una Presentación.", "¡Alerta!");

                }else {
                    ok2=true;
                }


                if (idReactivo === '') {
                    jAlert("Ingrese un Reactivo.", "¡Alerta!");

                }else {
                    ok3=true;
                }

                if (volumen === '') {
                    jAlert("Ingrese el volumen.", "¡Alerta!");

                }else {
                    ok4=true;
                }

             if (ok && ok2 && ok3 && ok4)
                {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        success: function (response) {

                            var $resp = $(response);

                            $("#btnGrabar").addClass("hidden");
                            $("#btnCerrar").removeClass("hidden");
                            $("#btnCerrar").on("click", function () {
                                location.reload();
                                $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
                            });

                            jAlert("Los datos fueron registrados correctamente.", "Aviso");
                        }
                    });

                }

                e.preventDefault();
                return false;
            });





            $("body").on("submit", "#frmEditarMaterial", function (e) {

                var ok = false;

               
                var volumen = $.trim($('#volumen').val());

                

                if (volumen === '') {
                    jAlert("Ingrese el volumen.", "¡Alerta!");

                } else {
                    ok = true;
                }

                if (ok ) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        success: function (response) {

                            var $resp = $(response);

                            $("#btnGrabar").addClass("hidden");
                            $("#btnCerrar").removeClass("hidden");
                            $("#btnCerrar").on("click", function () {
                                location.reload();
                                $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
                            });

                            jAlert("Los datos fueron editados correctamente.", "Aviso");
                        }
                    });

                }

                e.preventDefault();
                return false;
            });






        </script>



<link rel='stylesheet' href='~/Content/dpLoading-2.x-min.css' />
<link rel='stylesheet' href='~/Content/dpLoading-2.x-skin-grey-min.css' />
<script src='~/Scripts/dpLoading-2.x-min.js'></script>
    }
