@model Model.ConfiguracionEvalControlCalidad
<link rel="stylesheet" href="~/Content/chosen.css">
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Evaluación:"@Model.Nombre" </h2>

@using (Html.BeginForm("EditarConfigEval", "ConfiguracionEvalControlCalidad", new { ViewBag.id }, FormMethod.Post, new { @id = "formEditarEvaluacion" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="hdnIdEvaluacion" name="hdnIdEvaluacion" value="@Model.idConfigEvaluacion" />
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Enfermedad, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="hidden" id="hdnEnfermedad" name="hdnEnfermedad" value=@Model.Enfermedad.idEnfermedad />
                <div class="col-md-10">
                    <select id="idEnfermedad" name="idEnfermedad" class="sizeChosen form-control ">
                        <option value=""></option>
                        @if (Model.Enfermedad.idEnfermedad != 0)
                        {
                            <option value=@Model.Enfermedad.idEnfermedad>@Model.Enfermedad.nombre</option>
                        }
                    </select>
                    @if (Model.Enfermedad.idEnfermedad != 0)
                    {
                        <script type="text/javascript">
                            $("#idEnfermedad").val(Model.Enfermedad.idEnfermedad).trigger("chosen:updated");
                        </script>
                    }
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.Label("Establecimiento Evaluador", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("CodigoUnicoEvaluador", (string)Model.EstablecimientoEvaluador.Nombre, new { @class = "form-control" })
                    @Html.Hidden("hddDatoEvaluador", (int)Model.EstablecimientoEvaluador.IdEstablecimiento)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                @Html.Label("Establecimiento Evaluado", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("CodigoUnicoEvaluado", (string)Model.EstablecimientoEvaluado.Nombre, new { @class = "form-control" })
                    @Html.Hidden("hddDatoEvaluado", (int)Model.EstablecimientoEvaluado.IdEstablecimiento)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Registrar" class="btn btn-default" />*@
                <button id="btnEditarEval" class="btn btn-default">Editar</button>
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content(string.Format("~/Scripts/App/PEED/ConfiguracionEval.js?updated={0}", new Random().Next(0, 999))))
    @Scripts.Render("~/Scripts/App/NetLab.js")
}
