@* Descripción: Vista para seleccionar una de las plantillas configuradas.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@using Model;
@model List<Model.Plantilla>

<link rel="stylesheet" href="~/Content/chosen.css">



@using (Html.BeginForm("NewOrdenPlantilla", "Orden", FormMethod.Get))
{

    @Html.Hidden("idPaciente", (String)ViewBag.idPaciente)
    @Html.Hidden("NroDocumento", (String)ViewBag.NroDocumento)
    @Html.Hidden("Nombre", (String)ViewBag.Nombre)


    if (Model != null && Model.Any())
     {
         <div class="divRow">
             @Html.Label("Plantilla:", htmlAttributes: new {@class = "control-label4 col-md-2"})
             <div id="dvPopupEnfermedadExamen" class="col-md-10">

                 <select id="idPlantilla" name="idPlantilla" class="form-control sizeChosen">
                     @foreach (Plantilla plantilla in Model)
                     {
                         <option value="@plantilla.IdPlantilla"> @plantilla.Nombre</option>
                     }
                 </select>
             </div>
         </div>
         <br />
         <div class="divRow">
             <div class="col-md-2"></div>
             <div class="col-md-2">
                 <input type="submit" id="Continuar" value="Continuar" class="btn-link"/>
             </div>
             <div class="col-md-8"></div>
         </div>
     }
     else
     {
         <p>No existen plantillas para mostrar.</p>
     }


    <script type="text/javascript">

        $("#idPlantilla").chosen({ placeholder_text_single: "Seleccione una plantilla", no_results_text: "No existen coincidencias" });

    </script>

}