@model Model.OrdenSolicitante

<div class="form-group">
    <div class="div-row">
        @Html.Label("Apellido Paterno:", new { @class = "label-width" })
        <div class="control-width" style="display: flex">
            @Html.EditorFor(model => model.apellidoPaterno, new { htmlAttributes = new { @class = "form-control  input-sm ValidateLength lettersOnly" } })
        </div>

        @Html.Label("Apellido Materno:", new { @class = "label-width2" })
        <div class="control-width2" style="display: flex">
            @Html.EditorFor(model => model.apellidoMaterno, new { htmlAttributes = new { @class = "form-control ValidateLength lettersOnly" } })
        </div>

        @Html.Label("Nombres:", new { @class = "label-width3" })
        <div class="control-width3" style="display: flex">
            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control ValidateLength lettersOnly" } })
        </div>
    </div>
</div>

<style type="text/css" media="all">
    .div-row {
        display: flex;
        padding-left: 10px;
        height: 25px;
        width: 780px;
    }

    .label-width {
        text-align: left;
        width: 100px;
    }

    .label-width2 {
        padding-left: 10px;
        text-align: left;
        width: 120px;
    }

    .label-width3 {
        padding-left: 10px;
        text-align: left;
        width: 60px;
    }

    .control-width {
        width: 130px;
        display: flex;
    }

    .control-width2 {
        width: 130px;
        display: flex;
    }

    .control-width3 {
        width: 160px;
        display: flex;
    }

    .obligatorio {
        float: left;
    }

        .obligatorio span {
            color: red;
            margin-left: 4px;
            font-size: 12px;
            font-weight: bold;
        }
</style>
