@* Descripción: Vista para mostrar el poup que permite agregar un material adicional.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model IEnumerable<Model.OrdenMuestra>

<style type="text/css">
    .texto {
        font-size: 12px;
        padding-top: 2px;
    }

</style>

<table id="tableOrdenMuestra" class="table">
    <tr>
        <th width="500">Tipo de Muestra</th>
        <th width="80">Fecha Obtención</th>
        <th width="60">Hora Obtención</th>
        @*JRCR-REQ01*@
        @*<th width="100"></th>*@
    </tr>

    @if (Model != null)
    {        
        <tbody id="tbodyOrdenMuestra">
            @foreach (var item in Model)
            {
            var idMuestra = item.idOrdenMuestra;
            <tr>                
                <td class="texto">@Html.DisplayFor(modelItem => item.TipoMuestra.nombre)
                @Html.Hidden("idMuestra", idMuestra)</td>
                @*Juan Muga - permitir ingreso manual en datepicker - sacar onkeydown="return false;"*@
                <td style="text-align: center; vertical-align: middle">@Html.TextBox("fechaMuestra" + idMuestra, item.fechaColeccionToString, new { @class = "datepickerTelerik dateOnly form-control input-sm", style = "max-width:120px", autocomplete = "off" })</td>
                <td style="text-align: center; vertical-align: middle">@Html.TextBox("horaMuestra" + idMuestra, item.horaColeccionToString, new { @class = "timepicker form-control input-sm", style = "max-width:80px" })</td>
                @*JRCR-REQ01*@
             @*<td>

                    <span class=@Html.Raw(item.TipoMuestra.idTipoMuestra)>
                        <a href="@Url.Action("ShowPopupMaterial", "Orden")" class="btnShowPopupMaterial btn-link" title="Agregar Material">

                            <img alt="Agregar Material" src="@Url.Content("~/img/001_31.png")">
                            Agregar Material
                        </a>
                    </span>

                </td>*@
            </tr>

            }
        </tbody>
    }
</table>
