@*  Descripción: Vista que muestra la pantalla de busqueda de resultados de un paciente.
    Autor: Marcos Mejia.
    Fecha Creacion: 15/07/2018*@
@model PagedList.IPagedList<Model.ViewData.OrdenIngresarResultadoVd>
@{
    ViewBag.Title = "Consulta Reporte Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string classDatePicker = "form-control datepickerDesde datePickerWidth dateOnly";

    ViewBag.IsSearch = true;

    if (!ViewBag.IsSearch)
    {
        classDatePicker = classDatePicker + " inFechaRec1";
    }

    var fechaDesde = DateTime.Now;
    var fechaHasta = DateTime.Now;
}
<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">
<link rel="stylesheet" href="~/Content/sumoselect.css">
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Html.BeginForm("ConsultaReporteResultado", "ConsultaResultados", FormMethod.Get))
{
    <fieldset class="default">
        <legend class="default">Consulta Reporte Resultados</legend>
        <div id="dvBusquedaUsuario2">
            <div class="form-group">
                <div class="row">
                    @Html.Label("Fecha Desde: ", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                        @Html.TextBox("fechaDesde", fechaDesde, new { id = "datepickerDesde", @class = classDatePicker, autocomplete = "off" })
                    </div>
                    @Html.Label("Fecha Hasta: ", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2 " })
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                        @Html.TextBox("fechaHasta", fechaHasta, new { id = "datepickerHasta", @class = "form-control datepickerHasta datePickerWidth", autocomplete = "off" })
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.Label("Código de Orden/Muestra:", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                        @Html.TextBox("codigoOrden", (string)ViewBag.codigoOrden, new { @class = "form-control" })
                    </div>
                    @Html.Label("Doc Identidad:", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                        @Html.TextBox("nroDocumento", (string)ViewBag.nroDocumento, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    @*<input id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary" />*@
                    <button class="btn btn-primary" type="submit" value="Buscar"> <span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
            </div>
        </div>
    </fieldset>     
}

@if (Model != null)
{
    if (Model.Count > 0)
    {

            <table class="table table-responsive" id="mydata">
                <thead>
                    <tr>
                        <th>
                            Código Orden
                        </th>
                        <th>
                            EE.SS Origen
                        </th>
                        <th>
                            Paciente
                        </th>
                        <th>
                            Fecha Obtencion
                        </th>
                        <th>
                            Solicitante
                        </th>
                        <th>
                            Examen
                        </th>
                        <th></th>
                    </tr>
                </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConcodigoOrden)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreEstablecimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConnombrePaciente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConFechaHoraColeccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConEstablecimientoSolicitante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreExamen)
                            </td>
                            <td>
                                <a href="@(Url.Action( "ImprimirResultadosBusqueda", "ReporteResultados", new { idOrden = item.idOrden, idLaboratorio = item.idEstablecimiento,idExamen=item.idExamen }))" target="_blank" class="lnkForm">
                                    <img src="~/img/imgPdf.gif" />
                                </a>

                            </td>
                        </tr>
                    }
</table>






    }
    else


    {

        <br />
   <div class="alert alert-danger">No se encontraron resultados</div>
    }
}
<div id="dialog-edit" style="display: none">
</div>

<div id="dialog-hidden" style="visibility: hidden">
</div>
@section Scripts {
    @*@Scripts.Render(Url.Content(string.Format("~/Scripts/App/OrdenMuestra.js?updated={0}", new Random().Next(0, 999))))*@
    @Scripts.Render(Url.Content(string.Format("~/Scripts/App/NetLab.js?updated={0}", new Random().Next(0, 999))))
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")
    @Scripts.Render("~/Scripts/App/ConsultaResultados.js")
@Scripts.Render("~/Scripts/App/tabladata.js")
    <link rel='stylesheet' href='~/Content/dpLoading-2.x-min.css' />
    <link rel='stylesheet' href='~/Content/dpLoading-2.x-skin-grey-min.css' />
    <script src='~/Scripts/dpLoading-2.x-min.js'></script>
    
    @*<script type="text/javascript">

            function validaPaciente() {
            var valor = true;
            var tipoDocumento = $('#tipoDocumento').val();
            if (tipoDocumento == 4 || tipoDocumento == 7) {
                jAlert('El paciente presenta un tipo de Documento no válido para poder imprimir el resultado.', '¡Alerta!');
                valor = false;
            }
            return valor;
        }

    </script>*@
}




<style type="text/css" media="all">

    .datePickerWidth {
        width: 100px !important;
    }

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>