@model PagedList.IPagedList<Model.ViewData.ResultadoControlCalidadVd>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda Materiales</h2>
@using (Html.BeginForm("Index", "ResultadoPEEC", FormMethod.Get))
{
    @*<label>Ingrese Código / Nombre:</label>
         @Html.TextBox("search", (string)ViewBag.search, new { style = "width:250px" })
        <input type="submit" value="Buscar" class="btn-link" />*@

    @*<button class="btn btn-primary" type="submit" id="btnBuscar" value="Buscar">*@
}
<br />
@if (Model != null && Model.TotalItemCount > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().idConfigEvaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idConfiguracionPanel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idConfigEvaluacionMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idEstablecimientoEvaluador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idEstablecimientoEvaluado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EESSEvaluado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EESSEvaluador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NroPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ValorRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MyProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idusuarioregistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UsuarioEdicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fecharegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idusuarioedicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fechaedicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().idusuarioenvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().fechaenvio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idConfigEvaluacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idConfiguracionPanel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idConfigEvaluacionMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idEstablecimientoEvaluador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idEstablecimientoEvaluado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EESSEvaluado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EESSEvaluador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroPregunta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Respuesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorRespuesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.puntaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MyProperty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idusuarioregistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioEdicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecharegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idusuarioedicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaedicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idusuarioenvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaenvio)
                </td>
                <td>
                    d>
                    @Html.ActionLink("  Editar", "Edit", new { id = item.idConfigEvaluacionMaterial, page = Model.PageNumber, ViewBag.search }, new { @class = "btn btn-default btn-block fa fa-pencil-square-o editDialog" })
                </td>
            </tr>
        }

    </table>
}