@*  Descripción: Vista que lista todas las disas y les da mantenimiento.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios, ventana no utilizada.*@
@model PagedList.IPagedList<Model.DisaMant>
@using PagedList.Mvc;
@using NetLab.Helpers;
@{
    ViewBag.Title = "Mantenimiento de Disas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">

<h2 class="text-primary">DISA/DIRESA/GERESA</h2>
@using (Html.BeginForm("Index", "DisaMant", FormMethod.Get))
{
    <label style="font-size: small">Ingrese un nombre:</label>
    @Html.TextBox("search", (string)ViewBag.search, new { style = "width:250px" })
    @*<input type="submit" value="Buscar" class="btn-link" />*@

    <button class="btn btn-primary" type="submit" id="btnBuscar" value="Buscar"> <span class="glyphicon glyphicon-search"></span> Buscar</button>


    @Html.ActionLink("+ Nuevo", "NuevoDisaMant", new { page = ViewBag.page, ViewBag.search }, new { id = "openDialog", @class = "btn btn-primary" })
}
<br />


@if (Model != null && Model.TotalItemCount > 0)
{//Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el id my data y thead para reconocer cuales son las cabeceras para el datatable, se eliminaron divs con la clase responsive y se puso al table class

    <table class="table table-responsive" id="mydata">
        <thead>
            <tr>
                <th width="25">
                    ID
                </th>
                <th width="220">
                    Nombre
                </th>
                <th width="40">
                    Estado
                </th>
                <th width="40">Editar</th>

            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDISA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDISA)
                </td>


                @*<td>
                        @if (item.Estado == 1)
                        {
                            @Html.Label("Activo")
                        }
                        else
                        {
                            @Html.Label("Inactivo")
                        }
                    </td>*@

                <td class="text-center">
                    @*Alexander Buchelli - inicio - fecha 7/12/18 -Se cambio el IF para poder editar el color de las celdas para que estas sean verdes cuando esta  "activo"- y rojas cuando este "inactivo"*@


                    @if (item.Estado == 1)
                    {
                        <p style="color:#006f03;">Activo</p>
                    }
                    else
                    {
                        <p style="color:rgb(255,0,0);">Inactivo</p>
                    }
                </td>


                <td class="text-center">
                    @Html.ActionLink(" ", "EditarDisaMant", new { id = item.IdDISA, page = Model.PageNumber, ViewBag.search }, new { @class = "btn btn-default btn-block fa fa-pencil-square-o editDialog" }) @*|*@
                    @*@Html.ActionLink("Eliminar", "EliminarDisaMant", new { id = item.IdDISA, page = Model.PageNumber, ViewBag.search }, new { @class = "confirmDialog" })*@
                </td>
            </tr>
        }

    </table>

}
else
{
    @Html.EmptyTable()
}

@if (Model != null)
{    //Alexander Buchelli - inicio - fecha 7/12/18 -Se comento el boton de selector de pagina

    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.search }))*@
}

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        ¿ Está seguro de eliminar el registro seleccionado ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App/DisaMant.js")
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")

    @*@*Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el Js que invoca al id "mydata" para el uso del js de datatables*@
    @Scripts.Render("~/Scripts/App/tabladata.js")




    <script type="text/javascript">

        $("body").on("submit", "#formAgregarDisaMant", function (e) {

            var ok = false;


            var ok2=false;

            var ok3=false;

            var ok4=false;

            var id = $.trim($('#IdDISA').val());

            var nombre = $.trim($('#NombreDISA').val());




            if (id === '') {
                jAlert("Ingrese un ID.", "¡Alerta!");

            }else {
                ok3=true;
            }


            if (nombre === '') {
                jAlert("Ingrese un nombre.", "¡Alerta!");

            }else {
                ok=true;
            }


            var statesAvailable = @Html.Raw(@ViewBag.nombresLista);

            var statesAvailable2 = @Html.Raw(@ViewBag.idsLista);


            var nom=nombre.toUpperCase();


            if (statesAvailable.includes(nom)  ) {
                jAlert("Ya existe una DISA con este nombre.", "¡Alerta!");

            }else {
                ok2=true;
            }


            if (statesAvailable2.includes(id)  ) {
                jAlert("Ya existe una DISA con este id.", "¡Alerta!");

            }else {
                ok4=true;
            }



            if (ok && ok2 && ok3 && ok4)
            {
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    success: function (response) {

                        var $resp = $(response);

                        $("#btnCrear").addClass("hidden");
                        $("#btnCerrar").removeClass("hidden");
                        $("#btnCerrar").on("click", function () {
                            location.reload();
                            $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
                        });

                        jAlert("Los datos fueron registrados correctamente.", "Aviso");
                    }
                });

            }

            e.preventDefault();
            return false;
        });










        $("body").on("submit", "#formEditarDisaMant", function (e) {

            var ok = false;


            var ok2=false;

            var ok3=false;

            var ok4=false;

            var id = $.trim($('#IdDISA').val());

            var nombre = $.trim($('#NombreDISA').val());


            var someDataFromPartialSomehow = $("#someDataFromPartialSomehow").val();
            var someDataFromPartialSomehow2 = $("#someDataFromPartialSomehow2").val();
            var nombreController=someDataFromPartialSomehow.toUpperCase();
            var idDisa=someDataFromPartialSomehow2.toUpperCase().trim();

            if (id === '') {
                jAlert("Ingrese un ID.", "¡Alerta!");

            }else {
                ok3=true;
            }


            if (nombre === '') {
                jAlert("Ingrese un nombre.", "¡Alerta!");

            }else {
                ok=true;
            }

            var nom=nombre.toUpperCase();

            if (nom==nombreController) {
                ok2=true;
            }else {

                var statesAvailable = @Html.Raw(@ViewBag.nombresLista);


                if (statesAvailable.includes(nom)  ) {
                    jAlert("Ya existe una DISA con este nombre.", "¡Alerta!");

                }else {
                    ok2=true;
                }

            }



            if (id==idDisa) {
                ok4=true;
            }else {

                var statesAvailable2 = @Html.Raw(@ViewBag.idsLista);


                if (statesAvailable2.includes(id)  ) {
                    jAlert("Ya una Disa con este ID.", "¡Alerta!");

                }else {
                    ok4=true;
                }

            }





            if (ok && ok2 && ok3 && ok4)
            {
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    success: function (response) {

                        var $resp = $(response);

                        $("#btnGuardar").addClass("hidden");
                        $("#btnCerrar").removeClass("hidden");
                        $("#btnCerrar").on("click", function () {
                            location.reload();
                            $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
                        });

                        jAlert("Los Datos Fueron Editado Satisfactoriamente", "Aviso");
                    }
                });

            }

            e.preventDefault();
            return false;
        });











    </script>




}