@*  Descripción: Vista, muestra la pantalla para el mantenimiento de los establecimientos por plantilla
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@using NetLab.Helpers;

@model NetLab.Models.Plantilla.EstablecimientoPlantillaViewModels
@{
    ViewBag.Title = "Registro de Establecimientos por Plantilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css" media="all">
    <!--
    h2 {
        display: inline;
    }
    -->
</style>
<h2 class="text-primary">Establecimientos para la plantilla:</h2>
<h2> "@Model.Plantilla.Nombre"</h2>
<br /><br />
<p>
    @Html.ActionLink("+ Agregar Establecimientos", "AgregarEstablecimiento", new { Model.Plantilla.IdPlantilla }, new { id = "openDialog", @class = "btn btn-primary" })
</p>
<br />
@if (Model != null && Model.Establecimientos.Count > 0)
{   //Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el id my data y thead para reconocer cuales son las cabeceras para el datatable, se eliminaron divs con la clase responsive y se puso al table class
    <table class="table table-responsive" id="mydata">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Establecimientos.First().Nombre)
                </th>
                <th>Eliminar</th>
            </tr>
        </thead>
        @foreach (var item in Model.Establecimientos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-center" style="width:20px">
                    @Html.ActionLink(" ", "EliminarEstablecimiento", new { Model.Plantilla.IdPlantilla, item.IdEstablecimiento }, new { @class = "btn btn-default fa fa-trash confirmDialog" })
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.EmptyTable()
}
<br />
<br />
<div>
    @*opcion para retroceder a pagina anterior de historial*@


    <a class="btn btn-default" href="javascript:window.history.back();">&laquo; Retroceder</a>

    @Html.ActionLink("  Salir", "Index")





</div>
<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        ¿ Está seguro de eliminar el registro seleccionado ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/App/Plantilla/EstablecimientoPlantilla.js")
    @*@*Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el Js que invoca al id "mydata" para el uso del js de datatables*@
    @Scripts.Render("~/Scripts/App/tabladata.js")
}

