@*  Descripción: Vista, muestra para Editar un Rol.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model NetLab.Models.Rol.RolViewModels


@using (Html.BeginForm("EditarRol", "Rol", new { ViewBag.page, ViewBag.search }, FormMethod.Post, new { id = "frmEditarRol" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rol</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Rol.nombre, new { @class = "control-label col-md-4" })
            <div class="col-md-8" style="display:flex">
                @Html.EditorFor(model => model.Rol.nombre, new { htmlAttributes = new { @id = "txtNombreRolEditar", @class = "form-control anchoNombre" } })
                <span class="obligatorio"> *</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rol.descripcion, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Rol.descripcion, new { rows = "4", cols = "70" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Activo: ", new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @if (Model.Rol.Estado == 1)
                {
                    @Html.CheckBox("chkActivoRol", true)
                }
                else
                {
                    @Html.CheckBox("chkActivoRol", false)
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @*<input id="btnEditarRol" type="submit" value="Guardar" class="btn btn-primary" />*@




                <button id="btnEditarRol" type="submit" value="Guardar" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Guardar</button>
                @*<button type="button" value="Volver a la Lista" id="btnCerrar" class="btn btn-default hidden"><span class="fa fa-angle-double-left"></span> Regresar</button>*@





            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "Index", new { ViewBag.page, ViewBag.search })
</div>
<script type="text/javascript">
    $.validator.unobtrusive.parse("#frmEditarRol");
</script>

<style type="text/css">
    .anchoNombre {
        width: 250px !important;
    }

    .obligatorio {
        float: left;
        color: red;
        font-weight: bold;
    }
</style>

