@model List<Model.MuestraCodificacion>

@{
    ViewBag.Title = "Consulta Codigos de Muestra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ConsultaCodigosMuestra", "Muestra", FormMethod.Post, new { @id = "formConsultarCodigos" }))
{
    <div class="form-group">
        <div class="row">
            @Html.Label("Fecha Desde: ", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                @Html.TextBox("fechaDesde", (string)ViewBag.fechaDesde, new { id = "datepickerDesde", @class = "form-control datepickerDesde datePickerWidth", autocomplete = "off" })
            </div>
            @Html.Label("Fecha Hasta: ", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2 " })
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                @Html.TextBox("fechaHasta", (string)ViewBag.fechaHasta, new { id = "datepickerHasta", @class = "form-control datepickerHasta datePickerWidth", autocomplete = "off" })
            </div>
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label for="selTipo" class="col-xs-12 col-sm-8 col-md-3 col-lg-2">EESS/LAB</label>
            <div class="col-md-6">
                @Html.TextBox("CodigoUnico", (string)ViewBag.textoLaboratorioPreSeleccionada, new { @class = "form-control" })
                @Html.Hidden("idEstablecimiento", (string)ViewBag.valueLaboratorioPreSeleccionada)
            </div><br /><br />
            @Html.Label("Código de Muestra:", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                @Html.TextBox("idMuestra", (string)ViewBag.idMuestra, new { @class = "form-control cmbxBusqueda ValidateLength" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.Label("Estado: ", new { @class = "control -label col-xs-12 col-sm-8 col-md-2 col-lg-2" })
            <div class="col-xs-12 col-sm-8 col-md-3 col-lg-3">
                @Html.DropDownList("estado", new List<SelectListItem>
                          {
                            new SelectListItem{ Text="TODOS", Value = "2" ,Selected = true},
                            new SelectListItem{ Text="UTILIZADO", Value = "1" },
                            new SelectListItem{ Text="NO UTILIZADO", Value = "0" }
                          }, new { @class = "form-control cmbxBusqueda" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="btnConsultar" type="submit" value="Consultar" class="lnkForm btn btn-primary" />
            </div>
        </div>
    </div>
    <br />
}

@if (Model != null)
{
    if (Model.Count() > 0)
    {
        <br /><br /><br />
        @*<a class="lnkForm" href='javascript:;' onclick="descargarExcel();" role="button"><img src="~/img/excel_download.gif" style="height:25px" />Descargar Excel</a><br/>*@
        <a href="@(Url.Action("ExportarCodigosExcel", "Muestra", null, Request.Url.Scheme))" class="lnkForm"><img src="~/img/excel_download.gif" /> Descargar Excel</a>
        <table id="dtEtiqueta" border="1">
            <thead>
                <tr>
                    <th style="text-align:center">
                        CODIGO DE MUESTRA QR
                    </th>
                    <th style="text-align:center">
                        CODIGO DE MUESTRA LINEAL
                    </th>
                    <th style="text-align:center">
                        ESTADO
                    </th>
                    <th style="text-align:center">
                        FECHA DE GENERACION
                    </th>
                    <th style="text-align:center">
                        USUARIO GENERADOR
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.codificacion)
                    </td>
                    <td>
                        @if (item.codificacionLineal != "" && item.codificacionLineal != null)
                        {
                            @Html.ActionLink(item.codificacionLineal, "ImprimirGenerados", "Muestra", new { id = item.codificacionLineal }, new { @class = "btn btn-link btnShowPopupEnfermedadExamen", id = item.codificacionLineal, @target = "_blank" })
                        }
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario)
                    </td>
                </tr>
            }

        </table>
    }
}

@section Scripts {
    @Scripts.Render(Url.Content(string.Format("~/Scripts/App/NetLab.js?updated={0}", new Random().Next(0, 999))))
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")

    <script type="text/javascript">
        var myDate = new Date();
        var dia = (myDate.getDate() >= 10) ? myDate.getDate() : "0" + myDate.getDate();
        var mes = ((myDate.getMonth() + 1) >= 10) ? (myDate.getMonth() + 1) : "0" + (myDate.getMonth() + 1);
        var anio = myDate.getFullYear();

        $("#CodigoUnico").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: URL_BASE + "Muestra/GetEstablecimientos?prefix=" + request.term,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Nombre, value: item.IdEstablecimiento };
                        }))
                    }
                })
            },
            select: function (e, i) {
                e.preventDefault();
                $("#idEstablecimiento").val(i.item.value);
                $("#CodigoUnico").val(i.item.label);
            },
            minLength: 2
        });
        $("#CodigoUnico").click(function () {
            $("#idEstablecimiento").val("");
            $("#CodigoUnico").val("");
        });

        $('#btnConsultar').click(function (e) {
            e.preventDefault();
            var ok = true;
            var fechaDesde = $("#datepickerDesde").val();
            var fechaHasta = $("#datepickerHasta").val();
            var idEstablecimiento = $("#idEstablecimiento").val();
            if (fechaDesde == "" || fechaHasta == "") {
                jAlert("Ingrese fecha.", "Alerta!");
                ok = false;
            }
            //if (idEstablecimiento == undefined || idEstablecimiento == "" || idEstablecimiento == 0) {
            //    jAlert("Seleccione un EESS/LAB.", "Alerta!");
            //    ok = false;
            //}
            if (ok) {
                $('#formConsultarCodigos').submit();
            }
        });

        $(document).ready(function () {
            if ($("#datepickerDesde").val() == "") {
                var modDateYesterday = new Date(myDate - 86400000);
                var diaY = (modDateYesterday.getDate() >= 10) ? modDateYesterday.getDate() : "0" + modDateYesterday.getDate();
                var mesY = ((modDateYesterday.getMonth() + 1) >= 10) ? (modDateYesterday.getMonth() + 1) : "0" + (modDateYesterday.getMonth() + 1);
                var anioY = modDateYesterday.getFullYear();
                $("#datepickerDesde").val(diaY + "/" + mesY + "/" + anioY);

                $("#datepickerHasta").val(dia + "/" + mes + "/" + anio);
            }

            $("#datepickerDesde").kendoDatePicker({
                culture: "es-PE"
            });
            $("#datepickerHasta").kendoDatePicker({
                culture: "es-PE"
            });

            $('#dtEtiqueta').DataTable({
                "scrollY": "600px",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');

        });

        //function descargarExcel() {
        //    var filename = 'ConsultaCodigosMuestra.xls';
        //    var downloadLink;
        //    var dataType = 'application/vnd.ms-excel';
        //    var tableSelect = document.getElementById('dtEtiqueta');
        //    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20')
        //                                         .replace(/<thead>/g, '%20')
        //                                         .replace(/<\/thead>/g, '%20');
        //    //Especificar nombre del archivo
        //    //filename = filename?filename+'.xls':'excel_data.xls';
        //    //Crear elemento de enlace de descarga
        //    downloadLink = document.createElement("a");
        //    document.body.appendChild(downloadLink);
        //    if (navigator.msSaveOrOpenBlob)
        //    {
        //        var blob = new Blob(['ufeff', tableHTML],
        //            {
        //                type: dataType
        //            });
        //        navigator.msSaveOrOpenBlob(blob,filename);
        //    }
        //    else
        //    {
        //        //Crea un enlace al archivo.
        //        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        //        //Configurando el nombre del archivo
        //        downloadLink.download = filename;
        //        //Simulamos el click al elemento creado para descargarlo
        //        downloadLink.click();
        //    }
        //}
    </script>
}
<style type="text/css" media="all">
    .datePickerWidth {
        width: 100px !important;
    }

    .lnkForm img {
        height: 26px;
    }
</style>