@*  Descripción: Vista, muestra la pantalla para crear una nueva lista de opciones.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model Model.ListaDato


@using (Html.BeginForm("NuevaLista", "Datos", new { ViewBag.page }, FormMethod.Post, new { id = "frmNuevaLista" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <label class="text-danger" style="font-size: 14px">*</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-7">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div id="examenDialog">
</div>
<div>
    @Html.ActionLink("<<Retroceder", "Index", null, new { id = "closeDialog", @class = "btn btn-default" })
</div>
<script type="text/javascript">
    $.validator.unobtrusive.parse("#frmNuevaLista");
</script>