@*  Descripción: Vista, muestra la pantalla de la Presentacion.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model PagedList.IPagedList<Model.Presentacion>
@using PagedList.Mvc;
@using NetLab.Helpers;

@{
    ViewBag.Title = "Mantenimiento de Presentaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">
<h2 class="text-primary">Presentación</h2>
@using (Html.BeginForm("Index", "Presentacion", FormMethod.Get))
{
    <label for="search">Ingrese un Nombre o descripción:</label>
    @Html.TextBox("search", (string)ViewBag.search, new { style = "width:250px" })
    @*<input type="submit" value="Buscar" class="btn-link" />*@
    <button class="btn btn-primary" type="submit" id="btnBuscar" value="Buscar"> <span class="glyphicon glyphicon-search"></span> Buscar</button>




    @Html.ActionLink(" Nuevo", "NuevoPresentacion", new { page = ViewBag.page, search = ViewBag.search }, new { id = "openDialog", @class = "btn btn-primary fa fa-plus-square-o" })
}
<br />

@if (ViewBag.mensaje > 0)
{
    string faultMsg = "";
    switch ((int)ViewBag.mensaje)
    {

        case 1: faultMsg = "No se encontraron registros…"; break;
        case 2: faultMsg = ""; break;
       
    }
    <br />
            <span class="msj-error">@faultMsg</span>
}

<br />
@if (Model != null && Model.TotalItemCount > 0)
{   //Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el id my data y thead para reconocer cuales son las cabeceras para el datatable, se eliminaron divs con la clase responsive y se puso al table class

    <table class="table table-responsive" id="mydata">
        <thead>
            <tr>
                <th width="220">
                    @Html.DisplayNameFor(model => model.First().glosa)
                </th>
                <th width="100">
                    @Html.DisplayNameFor(model => model.First().Estado)
                </th>
                <th width="50">Editar</th>
                <th width="50">Tipo de Muestra</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.glosa)
                </td>
                @*<td>
                        @if (item.Estado == 1)
                        {
                            @Html.Label("Activo")
                        }
                        else
                        {
                            @Html.Label("Inactivo")
                        }
                    </td>*@


                @*Alexander Buchelli - inicio - fecha 7/12/18 -Se cambio el IF para poder editar el color de las celdas para que estas sean verdes cuando esta  "activo"- y rojas cuando este "inactivo"*@

                <td class="text-center">
                    @if (item.Estado == 1)
                    {
                        <p style="color:#006f03;">Activo</p>
                    }
                    else
                    {
                        <p style="color:rgb(255,0,0);">Inactivo</p>
                    }
                </td>
                <td style="width:50px">
                    @Html.ActionLink(" ", "EditarPresentacion", new { id = item.idPresentacion, page = Model.PageNumber, search = ViewBag.search }, new { @class = "btn btn-default btn-block fa fa-pencil-square-o editDialog" })
                    @*@Html.ActionLink("Eliminar", "EliminarPresentacion", new { id = item.idPresentacion, page = Model.PageNumber, search = ViewBag.search }, new { @class = "confirmDialog" })*@
                </td>
                <td style="width:50px">
                    @Html.ActionLink(" ", "TipoMuestra", new { id = item.idPresentacion }, new { @class = "btn btn-default btn-block fa fa-tint" })
                </td>
            </tr>
        }
    </table>

}
@*else
{
    @Html.EmptyTable()
}*@

@if (Model != null)
{    //Alexander Buchelli - inicio - fecha 7/12/18 -Se comento el boton de selector de pagina

    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.search }))*@
}

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        ¿ Está seguro de eliminar el registro seleccionado ?
    </p>
</div>
<div id="dialog-edit" style="display: none">
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/App/Presentacion.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")
    @*Alexander Buchelli - inicio - fecha 7/12/18 -Se agrego el Js que invoca al id "mydata" para el uso del js de datatables*@
    @Scripts.Render("~/Scripts/App/tabladata.js")

    <script type="text/javascript">

        $("body").on("submit", "#frmAgregarPresentacion", function (e) {


        var ok2=false;


        var nombre = $.trim($('#glosa').val());
        var statesAvailable = @Html.Raw(@ViewBag.nombresLista);


        var nom=nombre.toUpperCase();
        if (statesAvailable.includes(nom)  ) {
        jAlert("Ya existe una Presentación con ese nombre.", "¡Alerta!");
        }else {
        ok2=true;
        }


        if ( ok2)
        {
        $.ajax({
        type: "POST",
        cache: false,
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function (response) {

            var $resp = $(response);
        $("#btnCrear").addClass("hidden");
        $("#btnCerrar").removeClass("hidden");
        $("#btnCerrar").on("click", function () {
        location.reload();
        $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
        });
        jAlert("Los datos fueron registrados correctamente.", "Aviso");
        }
        });

        }

        e.preventDefault();
        return false;
        });







        $("body").on("submit", "#frmEditarPresentacion", function (e) {


            var ok2=false;


            var nombre = $.trim($('#glosa').val());
            var statesAvailable = @Html.Raw(@ViewBag.nombresLista);


            var nom=nombre.toUpperCase();




            var someDataFromPartialSomehow = $("#someDataFromPartialSomehow").val();
            var nombreController=someDataFromPartialSomehow.toUpperCase();


            if (nom==nombreController) {
                ok2=true;
            }else {
                if (statesAvailable.includes(nom)  ) {
                    jAlert("Ya existe una Presentación con ese nombre.", "¡Alerta!");
                }else {
                    ok2=true;
                }
            }






            if ( ok2)
            {
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    success: function (response) {

                        var $resp = $(response);
                        $("#btnGuardar").addClass("hidden");
                        $("#btnCerrar").removeClass("hidden");
                        $("#btnCerrar").on("click", function () {
                            location.reload();
                            $("#dialog-edit").closest(".ui-dialog").find(".ui-dialog-titlebar-close").click();
                        });
                        jAlert("Presentación Editada Satisfactoriamente", "Aviso");
                    }
                });

            }

            e.preventDefault();
            return false;
        });












</script>

}

<style type="text/css">
    .table2 {
        width: 520px;
    }
</style>

