@*  Descripción: Vista, muestra la pantalla para el registro de un nuevo exmanen.
    Author: Terceros.
    Fecha Creacion: 01/01/2017
    Fecha Modificación: 02/02/2017.
    Modificación: Se agregaron comentarios.*@
@model NetLab.Models.ExamenViewModels
@using (Html.BeginForm("NuevoExamen", "Examen", new { ViewBag.page, ViewBag.search }, FormMethod.Post, new { id = "frmNuevoExamen" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Examen.nombre, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Examen.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Examen.nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <label class="text-danger" style="font-size: 14px">*</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Examen.descripcion, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Examen.descripcion, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                @Html.ValidationMessageFor(model => model.Examen.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Examen.Cpt, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Examen.Cpt, new { @class = "form-control", style = "width: 100px" })
                @Html.ValidationMessageFor(model => model.Examen.Cpt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Examen.Loinc, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.Examen.Loinc, new { htmlAttributes = new { @class = "form-control", style = "width: 100px" } })
                @Html.ValidationMessageFor(model => model.Examen.Loinc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clase, new { @class = "control-label col-md-4" })
            <div class="col-md-7">
                @Html.DropDownListFor(model => model.Clase.IdClase, Model.Clase.SelectList, new { @class = "form-control", style = "width: 100px" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-7">
                @*<input type="submit" value="Crear" id="btnCrear" class="btn btn-primary" />
                    <input type="button" value="Regresar" id="btnCerrar" class="btn btn-primary hidden" />*@

                <button type="submit" value="Crear" id="btnCrear" class="btn btn-primary"><span class="fa fa-check-square-o"></span> Crear</button>
                <button type="button" value="Regresar" id="btnCerrar" class="btn btn-default hidden"><span class="fa fa-angle-double-left"></span> Regresar</button>



            </div>
        </div>
    </div>
}
<div id="examenDialog">
</div>
<div>
    @*@Html.ActionLink("Retroceder", "Index", new {ViewBag.page, ViewBag.search})*@
</div>
<script type="text/javascript">
    $.validator.unobtrusive.parse("#frmNuevoExamen");
</script>