@model List<Model.ExamenPlataforma>

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/Scripts/jquery.alerts/jquery.alerts.css">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExamenPlataforma</title>
</head>
<body>
    <div>
        <h2 class="text-primary">Plataformas para el Examen:</h2>
        <h2> "@Model[0].Examen"</h2>
        <br /><br />
        <p>
            <button type="button" class="btn btn-primary" onclick="VerListaPlataforma()" data-toggle="modal" data-target="#exampleModalCenter">
                + Agregar Plataforma
            </button>
        </p>
        <br /><br />
              <div id="dvTotalPlataformas">
                  @if (Model != null)
                  {
                      if (Model.Count() > 0 && Model[0].idPlataforma != 0)
                      {
                          <table class="table table-responsive" id="mydata">
                              <thead>
                                  <tr>
                                      <th width="220">
                                          Plataforma
                                      </th>
                                      <th width="40">Eliminar</th>
                                  </tr>
                              </thead>
                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Plataforma)
                                      </td>
                                      <td class="text-center">
                                          @*@Html.ActionLink(" ", "EliminarExamenPlataforma", new { idPlataforma = item.idPlataforma, idExamen = item.idExamen }, new { @class = "btn btn-default btn-block fa fa-trash confirmDialog" })*@
                                          <button type="button" class="btn btn-default btn-block fa fa-trash confirmDialog" onclick="EliminarExamenPlataforma('@item.idExamen','@item.idPlataforma')"></button>
                                      </td>
                                  </tr>
                              }

                          </table>
                      }
                  }
              </div>
    </div>
</body>
</html>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Plataformas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<span>Plataforma: </span>
                <input class="form-control" type="text" id="search" placeholder="Ingrese Plataforma">
                <button id="btnGuardarPlataforma" class="btn btn-primary"><span class="fa fa-floppy-o"></span> Buscar</button>*@
                <div id="dvPlataforma"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="RegistrarExamenPlataforma('@Model[0].idExamen')">Grabar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App/Examen.js")
    @Scripts.Render("~/Scripts/jquery.alerts/jquery.alerts.js")
}